.googleButton{
    border: 1px solid #ced4da;
    background-color: white;
    border-radius: 7px;
    width: 50%;
    font-size: 1.2rem;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginDiv{
    display: flex;
    align-items: center;
    background-color:aliceblue;
    border-radius: 25px;
}

.signupDiv{
    display: flex;
    align-items: center;
    background-color:aliceblue;
    border-radius: 25px;
    padding: 5%;
}

.classSelect, .branchSelect{
    border: none;
    width: 100%;
    padding: 1%;
}

@media screen and (max-width: 480px) {
    .formForPhone{
        width: 100%;
        
    }   

    .loginDiv{
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        margin-right: 2%;
        width: 80%;
    }
}